<main class="relative h-screen">
  <div class="absolute inset-0 bg-[radial-gradient(#2A76EA50_1px,transparent_0)] bg-[size:30px_30px] -z-10"></div>
  <div class="absolute inset-0 bg-[radial-gradient(circle,transparent_20%,black_100%)] -z-10"></div>

  <nav class="flex justify-center flex-wrap">
    <div class="fixed top-5 flex justify-between backdrop-blur-sm w-3xl p-1 bg-white/[0.05] rounded-2xl border border-white/[0.1]">
      <div [routerLink]="['']" class="flex items-center gap-2">
        <img src="icons/temporal.svg" alt="" class="h-10">
        <span class="cursor-pointer text-white font-roboto text-sm hover:text-white/[0.8] transition-all">EmbeddingsDB</span>
      </div>
      <div class="flex items-center gap-4">
        <span [routerLink]="['docs']" class="cursor-pointer text-white font-roboto text-sm hover:text-white/[0.8] transition-all">Docs</span>
        <a href="https://github.com/Se00n00/embeddbweb">
          <img src="icons/github.svg" alt="" class="h-10">
        </a>
      </div>
      
    </div>
  </nav>

  <router-outlet />
  
  <footer class="absolute w-full bottom-0 flex justify-center">
    <div class="flex justify-between p-2 font-roboto">
      <div class="text-xs text-white/[0.5]">© June 2025 EmbeddingsDB</div>
    </div>
  </footer>
</main>