<main class="realtive h-full flex flex-col items-center justify-center">
    
    <div class="flex flex-col gap-3 items-center">
        <div class="text-2xl sm:text-6xl max-w-xl font-semibold font-roboto text-center text-white">The <span class="text-blue-500">NDim</span>ensional Embeddings DB</div>
        <p class="max-w-lg text-center text-white/[0.6] font-roboto font-light text-xs sm:text-sm">Power Your Next-Generation AI application and Research using Multi-Dimensional Embedding Database</p>

    </div>

    <div class="flex items-center gap-2 mt-10 text-white">
        <div class="w-max h-8 px-1 font-roboto font-light text-xs flex items-center justify-center ">
            - Currently Under Development -
        </div>
    </div>

</main>